<!DOCTYPE html>
<html>
<head>
    <title>Video Stream</title>
</head>
<body>
    <h1 style="text-align: center;position: absolute">Video Stream</h1>
    <img id="video_feed" src="http://127.0.0.1:5000/video_feed"/>

<script>
    const socket = io.connect('http://localhost:5000');
        socket.on('start_video_streaming', () => {
            console.log('Video streaming started');
        });
        socket.on('connect', () => {
    console.log('连接已建立');
});

// 断开连接
socket.on('disconnect', () => {
    console.log('连接已断开');
});
        socket.on('video_frame', async (frameData) => {
            const img = document.getElementById('videoFrame');
            // 解码base64编码的图像数据
            const blob = await fetch(`data:image/jpeg;base64,${frameData}`).then(res => res.blob());
            URL.createObjectURL(blob);
        });
</script>
</body>
</html>
